.basket_product {
    margin-bottom: 1rem;

    .col-md-3 {
        img {
            max-width: 150px;
        }
    }
}

.basket_title {
    margin-bottom: 1rem;
}

.basket_product_price {
    display: block;
}