@import 'login';
@import 'register';
@import 'products';
@import 'product';
@import 'footer';
@import 'navigation';
@import 'index';
@import 'address';
@import 'basket';
@import 'order';

html, body {
    height: 100%;
    margin: 0;
  }

  .body {
      margin-top: 2em;
  }

.start-shopping {
    width: 100%;
    padding: 30px;
    font-size: 80px;
    i {
        color: #007bff;
    }
}

.progress {
   margin-bottom: 1rem; 
}

.progress-payment {
    margin-top: 1rem;
}

.filter-style {
    margin-right: 15px;
}

.order_button-back,
.products_page-nav {
    margin-top: 30px;
}