@import 'login';
@import 'register';
@import 'products';
@import 'product';
@import 'footer';
@import 'navigation';
@import 'index';
@import 'address';

.start-shopping {
    width: 100%;
    padding: 30px;
    font-size: 80px;
    i {
        color: #007bff;
    }
}
.succes-order, .failed-order {
    padding: 30px;
    h3 {
        margin-bottom: 2.5rem;
    }
    i {
        font-size: 80px;
        margin-bottom: 1rem;
    }
}

.succes-order {
    i {
        color: #34d25a;
    }
}
.failed-order {
    i {
        color: #D23A34;
    }
}
.body {
    margin-top: 2em;
}

.basket_product {
    margin-bottom: 1rem;
}

.basket_title {
    margin-bottom: 1rem;
}

.basket_product_price {
    display: block;
}

.progress {
   margin-bottom: 1rem; 
}

.progress-payment {
    margin-top: 1rem;
}