@import 'login';
@import 'register';
@import 'products';
@import 'product';
@import 'footer';
@import 'navigation';
@import 'index';

.start-shopping {
    width: 100%;
    padding: 30px;
    font-size: 80px;
    i {
        color: #007bff;
    }
}
.body {
    margin-top: 2em;
}

.basket_product {
    margin-bottom: 1rem;
}

.basket_title {
    margin-bottom: 1rem;
}

.basket_product_price {
    display: block;
}

.progress {
   margin-bottom: 1rem; 
}