.navbar-brand {
    padding: 0;
  }
  .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
  }
  .basketBtn{
      color: #7FBDFE;
  }
  .basketBtn:hover {
      color: #BFDEFF;
  }
  .basketActive {
      color: #fff;
  }
  .basketActive:hover {
      color: #7FBDFE;
  }